
.everything{
    background-image: url(https://images.pexels.com/photos/7594303/pexels-photo-7594303.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-size: cover;
  
    
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Lobster', cursive;
    
}

h1{
    text-align: center;
    font-size: 80px;

}

h2{
    position: absolute;
    left: 160px;
    font-size: 36px;
    
}

h3{
    position: absolute;
    right: 200px;
    font-size: 36px;

}

.info{
    text-align: center;
    font-size: 50px;
    display: inline-flex;
    margin-left: 140px;
    margin-top: 140px;
    position: relative;
    left: 232px;

}

.dealnumb{
    text-align: center;
    font-size: 50px;
    display: inline-flex;
    margin-left: 160px;
    margin-top: 80px;
    position: relative;
    right: 50px;
 
}



.clickers{
    text-align: center;
    padding-top: 150px;
    position: relative;
    
}

button{
    padding: 40px;
    margin: 16px;
    font-family: 'Lobster', cursive;
    
}